.grid-container {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(40, 30px);
    grid-template-rows: repeat(30, 30px);
}

.cell {
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.col-39 {
    border-right: 1px solid black;
}

.row-29 {
    border-bottom: 1px solid black;
}