body {
    background-color: #001524;
    font-family: 'Lato', sans-serif;
    color: #f71735;
}

body > h1 {
    text-align: center;
    font-size: 40px;
}

.grid-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(50, 20px);
    grid-template-rows: repeat(30, 20px);
}

.cell {
    border: 1px solid aliceblue;
    width: 100%;
    position: relative;
    padding-top: 100%;
}

.buttons, .preset-buttons {
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.preset-buttons {
    margin-bottom: 50px;
}

#play-button, #pause-button, #reset-button, #preset-one, #preset-two, #preset-three {
    min-width: 100px;
    font-size: 25px;
    background-color: #4059ad;
    color: aliceblue;
    border: none;
    border-radius: 5px;
}

#play-button {
    background-color: lightgreen;
    color: #001524;
}

#pause-button {
    background-color: lightsalmon;
    color: #001524;
}

#reset-button {
    background-color: lightcoral;
    color: #001524;
}

.iteration-count {
    max-width: 200px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    background-color: #4059ad;
    color: aliceblue;
}

.description {
    max-width: 1200px;
    margin: auto;
}

.description > h2 {
    font-size: 30px;
}

.description > p {
    font-size: 20px;
}

.description > ol > li {
    font-size: 20px;
}

a {
    color: #4059ad;
}

.disclaimer {
    font-size: 5px;
    margin-bottom: 100px;
}

@media screen and (max-width: 1100px) {
    .grid-container {
        grid-template-columns: repeat(40, 20px);
        grid-template-rows: repeat(30, 20px);
    }

    .description {
        margin-left: 20px;
        margin-right: 20px;
    }

    .preset-buttons {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 850px) {
    .grid-container {
        grid-template-columns: repeat(30, 20px);
        grid-template-rows: repeat(30, 20px);   
    }
}

@media screen and (max-width: 630px) {
    .grid-container {
        grid-template-columns: repeat(20, 20px);
        grid-template-rows: repeat(30, 20px);
    }

    #preset-one, #preset-two, #preset-three {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .grid-container {
        grid-template-columns: repeat(15, 20px);
        grid-template-rows: repeat(20, 20px);
    }

    .buttons, .preset-buttons {
        gap: 20px;
    }

    .iteration-count {
        font-size: 14px;
    }

    #play-button, #pause-button, #reset-button, #preset-one, #preset-two, #preset-three {
        font-size: 14px;
        min-width: 70px;
    }
}