.grid-container {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(40, 30px);
    grid-template-rows: repeat(20, 30px);
}

.cell {
    border-left: 1px solid black;
    border-top: 1px solid black;
}

div[data-col="39"] {
    border-right: 1px solid black;
}

div[data-row="19"] {
    border-bottom: 1px solid black;
}